@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');
// Colors 
$nav-black:#161616;
$darkgreen:#00332C;
$yellow: #FAAE2B;
$white-txt: #fdfdfd;
$light-bg:rgb(253, 253, 243);
$orange: #FA5246;
$pink: #FFA8BA;
$light-green: #475D5B;

// CSS RESET & Default styles
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-bg;
}


label,input{
    display: block;
    width: 100%;

}
input{
    padding: 5px 10px;
    margin-top: 5px;
    transition: all .5s;
}
label {
    margin-bottom: 15px;
}
.logo {
    margin-bottom: 30px;
}
button{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: $light-green;
    font-family: 'Poppins' , sans-serif;
    border: none;
    color: $white-txt;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
}

