@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4, h5, h5, input, input::-webkit-input-placeholder,
ul li,
ul li a,
button {
  font-family: "Poppins", sans-serif !important;
}

p, h1, h2, h3, h4, h5, h5, input, input:-ms-input-placeholder,
ul li,
ul li a,
button {
  font-family: "Poppins", sans-serif !important;
}

p, h1, h2, h3, h4, h5, h5, input, input::-ms-input-placeholder,
ul li,
ul li a,
button {
  font-family: "Poppins", sans-serif !important;
}

p, h1, h2, h3, h4, h5, h5, input, input::placeholder,
ul li,
ul li a,
button {
  font-family: "Poppins", sans-serif !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  text-align: justify;
  color: #161616;
  line-height: 200%;
}

body {
  opacity: 0;
}

.free-shipping {
  background-color: #f5cdcd;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.free-shipping p {
  text-align: center;
  font-size: 0.9rem;
}

.plane {
  margin-right: 10px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.hideBar {
  display: none;
}

p#btnClose:hover {
  cursor: pointer;
}

#btnClose {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 100%;
}

.free-shipping p:first-child:hover {
  cursor: default;
}

.header-1 {
  font-size: 4rem;
  font-weight: 600;
}

.yellow-span {
  color: #FAAE2B;
}

.btn {
  font-size: 1.25rem;
}

.center-txt {
  text-align: center;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.just-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.green-btn {
  background: #00332C;
  color: #fdfdfd;
  text-align: center;
  display: inline-block;
  padding: 9px 39px;
  font-weight: 400;
  border: none;
}

.green-outline-btn {
  border: 2px solid #00332C;
  color: #00332C;
  text-align: center;
  display: inline-block;
  padding: 9px 39px;
  font-weight: 500;
}

.mobile {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
}

.top-nav,
.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav {
  margin: 40px 0 80px 0;
}

.top-nav a {
  color: #161616;
}

.links ul li {
  margin-left: 20px;
}

.shop-cart-icon {
  background-color: #00332C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 100%;
  margin: 0 20px 0 20px;
}

.to-login {
  border: 2px solid #00332C;
  padding: 10px 35px;
  border-radius: 23px;
  color: #00332C;
}

.cart {
  display: none;
}

.visible-cart {
  width: 300px;
  background-color: brown;
  display: block;
  position: absolute;
  top: 50px;
  z-index: 99;
}

.site-title {
  color: #00332C;
}

.site-title span {
  color: #FAAE2B;
}

.hero-wrapper {
  position: relative;
}

.hero-content {
  width: 50%;
  color: #00332C;
}

.hero-image {
  position: absolute;
  right: 0;
  top: 10%;
}

.hero-list {
  position: relative;
  margin-top: 54px;
}

.hero-list li {
  font-size: 24px;
  line-height: 50px;
}

.hero-list li span {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #FAAE2B;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 12px;
}

.hero-btn {
  background-color: #00332C;
  color: #fdfdfd;
  padding: 19px 40px;
  border: none;
  font-weight: 300 !important;
  margin-top: 40px;
  display: inline-block;
  text-align: center;
  color: #fdfdfd;
  position: relative;
  z-index: 150;
}

.hero-btn::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 50%;
  margin-left: 4%;
  background-color: #00332C;
  -webkit-box-shadow: 3px 3px 20px #00332C;
          box-shadow: 3px 3px 20px #00332C;
  z-index: -2222;
}

.hero-btn:focus {
  outline: none;
}

.hero-image {
  overflow: hidden;
  position: relative;
  width: 40%;
}

.hero-img {
  width: 80%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 100%;
}

@-webkit-keyframes slidein {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}

@keyframes slidein {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}

.layer {
  position: absolute;
  background-color: white;
  width: 82%;
  height: 100%;
  -webkit-animation: layer 4s infinite;
          animation: layer 4s infinite;
  z-index: 999;
  border-radius: 100%;
}

@-webkit-keyframes layer {
  from {
    top: 0;
    opacity: .9;
  }
  to {
    top: 100%;
  }
}

@keyframes layer {
  from {
    top: 0;
    opacity: .9;
  }
  to {
    top: 100%;
  }
}

.section-global {
  width: 100%;
  padding-bottom: 100px;
}

.section-image {
  width: 30%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.section-image:not(.section-3 .section-image):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-text {
  width: 50%;
  color: #161616;
  margin-left: 118px;
}

.section-wrapper {
  margin: auto;
  width: 80%;
}

.section-wrapper .header-1 {
  color: #00332C;
  padding: 68px 0px 56px;
}

.section-text h2 {
  margin-bottom: 20px;
}

.section-1 {
  margin-top: 12%;
  background-color: #ECBABB;
}

.section-wrapper .header-1 .white-span {
  color: #fdfdfd;
}

.section-btn {
  border: 2px solid #00332C;
  padding: 8px 67px;
  color: #00332C;
  margin-top: 48px;
  display: inline-block;
  position: relative;
  z-index: 99;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.section-btn:hover {
  color: #fdfdfd;
}

.section-btn::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0px;
  width: 0%;
  height: 101%;
  background-color: #00332C;
  z-index: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.section-btn:hover::before {
  width: 101%;
  z-index: -2;
}

.section-2 {
  background-color: #FFFFFF;
}

.section-2 img {
  -webkit-filter: grayscale(0.1);
          filter: grayscale(0.1);
}

.section-3 {
  background-color: #FFE7E3;
  position: relative;
}

.section-3 img {
  position: absolute;
  bottom: 0%;
}

.section-3 .section-text {
  margin: 0;
}

.nl-wrapper {
  background-image: url("../images/newsletter-bg.png");
  background-size: cover;
  width: 100%;
  padding: 50px 0px 50px 0px;
}

.cinzel {
  font-family: 'Cinzel', sans-serif;
  color: #fdfdfd;
}

p.cinzel {
  font-size: 1.7rem;
}

.nl-wrapper h1 {
  font-weight: 300;
}

.nl-par {
  font-size: 1.2rem;
  margin: 20px auto;
  color: #fdfdfd9f;
}

.nl-form input, button {
  display: block;
  color: #fdfdfd;
  background-color: #ffffff00;
  border: 2px solid #fdfdfd;
  font-weight: 200;
  font-size: 18px;
}

.nl-form input:focus,
.nl-form button:focus {
  outline: none;
}

.nl-form ::-webkit-input-placeholder {
  color: #fdfdfd;
  font-weight: 300;
}

.nl-form :-ms-input-placeholder {
  color: #fdfdfd;
  font-weight: 300;
}

.nl-form ::-ms-input-placeholder {
  color: #fdfdfd;
  font-weight: 300;
}

.nl-form ::placeholder {
  color: #fdfdfd;
  font-weight: 300;
}

.nl-form input {
  padding: 10px 80px 10px 15px;
  margin-bottom: 20px;
}

.nl-form button {
  display: inline-block;
  padding: 9px 39px;
}

.nl-form button:hover {
  cursor: pointer;
}

.nl-form {
  margin: 20px auto 0px;
}

p.nl-note {
  font-size: 0.9rem;
  color: rgba(248, 248, 248, 0.774);
  margin-top: 40px;
  font-weight: 200;
}

.warn-msg, .valid {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  color: #fdfdfd;
  margin-top: 35px;
}

.footer {
  background-image: url("../images/bg-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding-bottom: 100px;
}

.footer-main .logo {
  text-align: center;
}

.footer-main .logo img {
  margin: 100px auto 63px;
  width: 15%;
}

.link-list-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
  margin: auto;
  line-height: 205%;
}

.list {
  min-width: 23%;
}

.list li a {
  color: #161616;
}

.list li {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.list li:hover {
  margin-left: 3px;
}

.list .sm-icon {
  margin-top: 5px;
}

#form-wrapper {
  padding: 50px 0px 100px 0px;
}

.input-group input:not([type=checkbox]) {
  display: block;
  margin-bottom: 20px;
  background-color: none;
  border: 2px solid #00332C;
  padding: 10px 80px 10px 22px;
}

.input-group input::-webkit-input-placeholder {
  color: #00332C;
  font-weight: 500;
}

.input-group input:-ms-input-placeholder {
  color: #00332C;
  font-weight: 500;
}

.input-group input::-ms-input-placeholder {
  color: #00332C;
  font-weight: 500;
}

.input-group input::placeholder {
  color: #00332C;
  font-weight: 500;
}

.forms div:not(.line) {
  margin-right: 5%;
}

.forms p {
  margin-bottom: 32px;
}

.login-page form {
  width: 100%;
}

.privacy {
  font-size: 0.7rem;
}

.privacy a {
  font-weight: 600;
  color: #00332C;
}

.forms .green-btn {
  margin-top: 20px;
  display: block;
}

.line {
  width: 1px;
  height: auto;
  background-color: #8f8f8f;
  margin: 0px 30px 0px 30px;
}

.security-note {
  padding: 32px;
  border: 2px solid #00332C;
  border-radius: 8px;
  line-height: 200%;
  height: 50%;
  margin-right: 0 !important;
  min-width: 30%;
}

@media (max-width: 576px) {
  .links {
    display: none;
  }
  .links ul li {
    margin-left: 0;
  }
  .mobile {
    display: block  !important;
  }
  .hero-wrapper, .hero-content {
    width: 100%;
  }
  .header-1 {
    font-size: 2.5rem;
    display: block;
    width: 100%;
  }
  .hero-image {
    display: none;
  }
  .section-global {
    z-index: 2;
  }
  .section-content {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 3;
  }
  .section-text {
    width: 100%;
    margin: 0;
  }
  .section-image {
    margin: 0 0 12% 0;
    padding: 0;
    width: 100%;
  }
  .section-image img:not(.section-3 img) {
    width: 100% !important;
    display: block;
    margin: 30px auto;
  }
  .nl-form input {
    width: 80%;
    margin: 20px auto;
  }
  .nl-form button {
    margin-left: 30px;
  }
  p.nl-note, .nl-par {
    width: 95%;
    margin: 20px auto;
  }
  .footer, .footer-main {
    width: 100%;
    padding: 0;
  }
  .link-list-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
  }
  .list {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    /* explanation below */
    margin: 10px;
    font-size: 0.8rem;
  }
  .list-5 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list-5 li {
    margin-right: 30px;
  }
  .footer-main .logo img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .shop-cart-icon {
    width: 10%;
  }
}

@media (max-width: 992px) {
  .logo {
    z-index: 201;
  }
  .mobile {
    display: block;
    z-index: 999;
  }
  .links {
    display: none;
  }
  .links {
    width: 100vw;
    position: absolute;
    right: -12.5%;
    height: 105vh;
    top: -60%;
    z-index: 200;
    background-color: #fffdf5;
  }
  .visible {
    display: block !important;
  }
  .rotate1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative;
    top: 4px;
    right: 2px;
  }
  .rotate3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    bottom: 3px;
    right: 3px;
  }
  .hide {
    display: none;
  }
  .links ul {
    display: block;
  }
  .links ul li {
    text-align: center;
    padding: 20px;
    font-size: 20px;
  }
  .links ul li:first-child {
    margin-top: 120px;
  }
  .shop-cart-icon {
    width: 38px;
    margin: auto;
  }
  .mob-line {
    width: 25px;
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .link-list-wrapper {
    width: 80%;
    overflow: hidden;
  }
  .forms div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    margin-bottom: 5%;
  }
  .security-note {
    margin: 0px !important;
  }
}

@media (max-width: 1200px) {
  .section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .section-content div {
    width: 100%;
    margin: 0;
  }
  .section-image img {
    width: 60%;
    display: block;
    margin: 30px auto;
  }
  .section-3 img {
    margin: auto;
    display: block;
    z-index: -1;
    width: 90%;
  }
  .hero-content {
    width: 100%;
  }
  .hero-image {
    display: none;
  }
  .forms {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
  .line {
    display: none;
  }
}

.input-group {
  position: relative;
}

.invalid {
  margin-top: 30px;
  background-color: #FA5246;
  color: #fdfdfd;
  border-radius: 4px;
}
/*# sourceMappingURL=style.css.map */