@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
// Colors 
$nav-black:#161616;
$darkgreen:#00332C;
$yellow: #FAAE2B;
$white-txt: #fdfdfd;
// CSS RESET & Default styles
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    transition: all .5s ease-in-out;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
   
}
p, h1, h2, h3, h4, h5, h5, input, input::placeholder, 
ul li, 
ul li a,
button {
    font-family: "Poppins", sans-serif !important;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    font-size: 18px;
    text-align: justify;
    color: $nav-black;
    line-height: 200%;
}
body{
    opacity: 0;
}
// Custom classes & JS classes
.free-shipping {
    background-color: #f5cdcd;
    padding: 10px;
    align-items: center;
}
.free-shipping p{ 
    text-align: center;
    font-size: 0.9rem;
    
}
.plane {
    margin-right: 10px;
    transform: translateY(10%)
}
.hideBar{
    display: none;
}
p#btnClose:hover{
    cursor: pointer;
}
#btnClose {
    align-items: center;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 100%;
}
.free-shipping p:first-child:hover {
    cursor:default;
}

// Txt properties
.header-1 {
    font-size: 4rem;
    font-weight: 600;
}
.yellow-span {
    color: $yellow;
}
.btn {
    font-size: 1.25rem;
}
.center-txt {
    text-align: center;
}
// flex box properties
.flex-box{
    display: flex;
}
.just-center {
    justify-content: center;
}
.just-between {
    justify-content: space-between;
}

// Default button styles
.green-btn {
    background:$darkgreen;
    color: $white-txt;
    text-align: center;
    display: inline-block;
    padding: 9px 39px;
    font-weight: 400;
    border: none;
}
.green-outline-btn {
    border: 2px solid $darkgreen;
    color: $darkgreen;
    text-align: center;
    display: inline-block;
    padding: 9px 39px;
    font-weight: 500;
}
.mobile{
    display: none;
}


// Global Styles

    // Main box content
    .container {
        width:80%;
        margin: auto;
    }

    // Navbar top
    .top-nav,
    .links ul{
        display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
    }
    .top-nav {
        margin: 40px 0 80px 0;
    }
    .top-nav a {
        color: $nav-black;
    }
    .links ul li{
        margin-left: 20px;
    }
    .shop-cart-icon {
        background-color: $darkgreen;
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 100%;
        margin: 0 20px 0 20px;
    }
    .to-login {
        border: 2px solid $darkgreen;
        padding: 10px 35px;
        border-radius: 23px;
        color: $darkgreen;
    }
    //Shopping cart
    .cart{
        display: none;
    }
    .visible-cart{
        width:300px;
        background-color: brown;
        display: block;
        position: absolute;
        top: 50px;
        z-index: 99;
    }
    // Site title
    .site-title {
        color: $darkgreen;
    }
    .site-title span{
        color: $yellow;
    }

    // Hero mainsite
    .hero-wrapper {
        position: relative;
    }
    .hero-content {
        width:50%;
        color: $darkgreen;
    }
    .hero-image {
        position: absolute;
        right:0;
        top: 10%;
        
    }
    .hero-list{
        position: relative;
        margin-top: 54px;
    }
    .hero-list li{
        font-size: 24px;
        line-height: 50px;
    }
    .hero-list li span{
        width: 8px;
        height: 8px;
        display: inline-block;
        background-color: $yellow;
        border-radius: 100%;
        transform: translateY(-50%);
        margin-right: 12px;
    }
    .hero-btn {
        background-color: $darkgreen;
        color: $white-txt;
        padding: 19px 40px;
        border: none;
        font-weight: 300 !important;
        margin-top: 40px;
        //box-shadow: 0px 0px 10px $darkgreen;
        display: inline-block;
        text-align: center;
        color: $white-txt;
        position: relative;
        z-index: 150;
    }
    .hero-btn::before{
        content: '';
        display: block;
        position: absolute;
        left:0;
        bottom:0;
        width: 90%;
        height: 50%;
        margin-left: 4%;
        background-color: $darkgreen;
        box-shadow: 3px 3px 20px $darkgreen;
        z-index:-2222;
    }
    .hero-btn:focus {
        outline: none;
    }
    .hero-image  {
        overflow: hidden;
    }
    //Section global custom width
    .section-global {
        width:100%;
        padding-bottom: 100px
    }
   .section-image {
       width:30%
   }
   .section-text {
    width: 50%;
    color: $nav-black;
    margin-left: 118px;
    }
    .section-wrapper {
    margin: auto;
    width:80%
    }
    .section-wrapper .header-1 {
        color: $darkgreen;
        padding: 68px 0px 56px;
    }
    .section-text h2 {
        margin-bottom: 20px;
    }
    // Section 1
    .section-1 {
        margin-top: 12%;
        background-color: #ECBABB;
    }
    .section-wrapper .header-1 .white-span {
        color: $white-txt;
    }
    .section-btn {
        border: 2px solid $darkgreen;
        padding: 8px 67px;
        color: $darkgreen;
        margin-top: 48px;
        display: inline-block;
        position: relative;
        z-index: 99;
        transition: all .3s ease;
    }
    .section-btn:hover{
        color: $white-txt;
        
    }
    // Fill in button class 
    .section-btn::before{
        content: '';
        position: absolute;
        left:-1px;
        top:0px;
        width: 0%;
        height: 101%;
        background-color: $darkgreen;
        z-index:0; 
        transition: all .3s ease;
    }
    .section-btn:hover::before {
        width:101%;
        z-index: -2;
    }
    // Section 2
    .section-2 {
        background-color: #FFFFFF;
    }
    .section-2 img {
        filter: grayscale(0.1);
    }

    // Section 3
    .section-3 {
        background-color: #FFE7E3;
        position: relative;
    }
    .section-3 img{
        position: absolute;
        bottom: 0%;
    }
    .section-3 .section-text{
        margin: 0;
    }

    // Newletter
    .nl-wrapper {
        background-image: url("../images/newsletter-bg.png");
        background-size: cover;
        width: 100%;
        padding: 50px 0px 50px 0px
    }
    .cinzel {
        font-family: 'Cinzel', sans-serif;
        color: $white-txt;
    }
    p.cinzel {
        font-size: 1.7rem;
    }
    .nl-wrapper h1 {
        font-weight: 300;
    }
    .nl-par{
        font-size: 1.2rem;
        margin: 20px auto;
        color: #fdfdfd9f
    }
    .nl-form input,button{
        display: block;
        color: $white-txt;
        background-color: #ffffff00;
        border: 2px solid #fdfdfd;
        font-weight: 200;
    }
    .nl-form input:focus,
    .nl-form button:focus {
        outline: none;
    }
    .nl-form ::placeholder{
        color: $white-txt;
        font-weight: 300;
    }
    .nl-form input {
        padding: 10px 80px 10px 15px;
        margin-bottom: 20px;
    }
    .nl-form button {
        display: inline-block;
        padding: 9px 39px;
    }
    .nl-form button:hover {
        cursor: pointer;
    }
    .nl-form {
        margin: 20px auto 0px;
    }
    p.nl-note {
        font-size: 0.9rem;
        color: rgba(248, 248, 248, 0.774);
        margin-top: 40px;
        font-weight: 200;
    }
    .warn-msg,.valid{
        display: block;
        width: 200px;
        margin: 0 auto;
        text-align: center;
        color: $white-txt;
        margin-top: 35px;
    }
    // Footer
    .footer {
        background-image:url("../images/bg-footer.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: auto;
        padding-bottom: 100px;
    }
    .footer-main .logo {
        text-align: center;
    }
    .footer-main .logo img {
        margin: 100px auto 63px;
        width: 15%;
    }
    .link-list-wrapper {
        justify-content: space-between;
        width:45%;
        margin: auto;
        line-height: 205%;
    }
    .list {
        min-width: 23%;
    }
    .list li a{
        color: $nav-black;
    }
    .list li {
        transition: all .3s ease;
    }
    .list li:hover {
        margin-left: 3px;
    }
    .list .sm-icon {
        margin-top: 5px;
    }
    
    // Login.html
    #form-wrapper {
        padding: 50px 0px 100px 0px;
        
    }
    .input-group input:not([type=checkbox]){
        display: block;
        margin-bottom: 20px;
        background-color: none;
        border: 2px solid $darkgreen;
        padding: 10px 80px 10px 22px;
    }
    .input-group input::placeholder {
        color: $darkgreen;
        font-weight:500;
        
    }
    .forms div:not(.line){
        margin-right: 10%;
    }
    .forms p{
        margin-bottom: 32px;
    }
    .login-page form {
        width: 100%
    }
    .privacy {
        font-size: 0.7rem;
    }
    .privacy a {
        font-weight: 600;
        color: $darkgreen;
    }
    .forms .green-btn {
        margin-top: 20px;
        display: block;
    }
    .line {
        width:1px;
        height: auto;
        background-color: rgb(143, 143, 143);
        margin: 0px 60px 0px 40px
    }
    .security-note {
        padding: 32px;
        border: 2px solid $darkgreen;
        border-radius: 8px;
        line-height: 200%;
        height: 50%;
    }

// RWD
// RWD
// RWD

// Phones
@media (max-width: 576px) {
    // Nav mobile
    .links{
        display: none;
    }
    .mobile {
        display: block;
    }
    // Hero content
    .hero-wrapper,.hero-content {
        width: 100%;
    }
    .header-1 {
        font-size: 3rem;
        display: block;
        width: 100%;
    }
    .hero-image {
        display: none;
    }
    // Section homepage
    .section-global{
        z-index: 2;
    }
    .section-content {
        width: 100%;
        flex-wrap: wrap;
        z-index: 3;
    }
    .section-text{
        width: 100%;
        margin: 0;
    }
    .section-image{
        margin: 0 0 12% 0;
        padding: 0;
        width: 100%;
    }
    .section-image img:not(.section-3 img) {
        width: 100% !important;
        display: block;
        margin: 30px auto;
    }
    // Footer
    .footer,.footer-main{
        width: 100%;
        padding:0
    }
    .link-list-wrapper {
        flex-wrap: wrap;
        width: 95%;
    }
    .list {
        flex:40%; /* explanation below */
        margin: 10px;
        font-size: 0.8rem;
    }
    .list-5 ul{
        display: flex;
        justify-content: center;
    }
    .list-5 li{
        margin-right: 30px;
    }
    .footer-main .logo img {
        width: 70%
    }
}

// Medium : TABS
@media (max-width: 768px) {
    .shop-cart-icon{
        width: 10%;
    }
}

@media (max-width: 992px) {
    // Mobile menu classes
    .logo{
        z-index: 201;
    }
    .mobile{
        display: block;
        z-index: 999;
    }
    .links{
        display: none;
    }
    .links{
        width: 100vw;
        position: absolute;
        right:-12.5%;
        height: 100vh;
        top:-60%;
        z-index: 200;
        background-color: rgb(255, 253, 245);
    }
    .visible {
        display: block !important;
    }
    .rotate1{
        transform: rotate(45deg);
        position: relative;
        top:4px;
        right:2px
    }
    .rotate3{
        transform: rotate(-45deg);
        position: relative;
        bottom: 3px;
        right: 3px;
    }
    .hide{
        display: none ;
    }
    .links ul {
        display: block;
    }
    .links ul li{
        text-align: center;
        padding: 20px ;
        font-size: 20px;
    }
    .links ul li:first-child{
        margin-top: 120px;
    }
    .shop-cart-icon{
        width:38px;
        margin: auto;
    }
    // Hamburger icon
    .line{
        width: 25px;
        height: 2px;
        background-color: black;
        margin-bottom: 5px;
        transition: all .3s ease;
    }
    // Footer
    .link-list-wrapper {
        width: 80%;
        overflow: hidden;
    }

}
// Small desktop
@media (max-width: 1200px) {
    .section-content {
        flex-flow: column wrap;
    }
    .section-content div {
        width: 100%;
        margin: 0;
    }
    .section-image img {
        width: 60%;
        display: block;
        margin: 30px auto;
    }
    .section-3 img {
        margin: auto;
        display: block;
        z-index: -1;
        width:90%
    }
    .hero-content {
        width: 100%
    }
    .hero-image {
        display: none;
    }
}

